

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
1
    <p id="myPara">This is a text</p>
    <button id="myButton">Click</button>

    <br>
2
    <form>
        <input id="fname" placeholder="first name">
        <input id="lname" placeholder="last name">
        <br>

    </form>
    <button id="submitButton">Submit</button>
    <br>3<br>
<a id="btn" href="#myPara" hreflang="en" target="_top"><button id="infoBtn">Click for info</button></a>

<br>4<br>
<table id="targettable">

    <tr>
        <td>table data 1</td>
        <td>table data 2</td>
        <td>table data 3</td>
    </tr>
    <tr>
        <td>table data 1</td>
        <td>table data 2</td>
        <td>table data 3</td>
    </tr>
    <tr>
        <td>table data 1</td>
        <td>table data 2</td>
        <td>table data 3</td>
    </tr>

</table>
<button id="addRowBtn">Add row</button>
<button id="removeRowBtn">Remove row</button>



<br>7 <br>
<input value="exercise 7" id="ex7">
<button id="saveBtn7">Save</button>

<h1>Second file of exercises:</h1>
<label>Please enter your name</label>
<input id="enterName">
<button id="nameBtn">Enter Name</button>


<br>Exercise 4<br>

<label>Type any number</label>
<input id="num1">
<label>Type another number</label>
<input id="num2">
<button id="numBtn">Save Nr</button>
<br>
<span id="displayNum"></span>
<br>
<span id="displayName"></span>
<br>Extra exercises <br>
<br>1<br>
<div id="btnWrapper">
    <button id="btn1">Nr1</button>
    <button id="btn2">Nr2</button>
    <button id="btn3">Nr3</button>

</div>
<p id="hiddenText" style="display:none">Text that shows when hovering on btn3</p>
<br>
<label>Type something</label>
<input id="makeUpperCase">

<br>
<!-- Extra Exercise 4 -->
<label>Type in your firstname and lastname</label>
<input id="initialFirstName">
<input id="initialLastName">
<button id="initialBtn">Submit Name</button>


<!-- Exercise 8, color-object-->
<br>
<label>Type a number to get color</label>
<input id="nrColor">
<button id="colorBtn">Save</button>

<br>
<!-- Exercise 9, bank account-->

<label>Increase Money on your account</label>
<input id="increase">
<button id="increaseBtn">Submit</button><br>

<label>Decrease Money on your account</label>
<input id="decrease">
<button id="decreaseBtn">Submit</button><br>
<br>

<span id="saldo">0</span>

<script src="../scripts/index.js"></script>
</body>
</html>

